body{
	background: url(../img/b.jpg) no-repeat;
	width: 100%;
}
.logo{
	text-align: center;
}
#forma{
		display: none;

}

.forma2{
	font-family: Georgia,sans-serif;
	font-style: italic;
	text-align: center;
	padding-top: 6%;
	color: white;
	}

	

.forma{
	font-family: Georgia,sans-serif;
	font-style: italic;
	text-align: center;
	padding-top: 6%;
	color: white;
}
.buts{
	text-align: right;
}
.but1{
	border-radius: 50px;
	color: white;
	background-color: green;
}
.but2{
	border-radius: 50px;
	color: white;
	background-color: purple;
}
.col-xl-12{
	 
    padding: 10px;
}
.foot{
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  background-color: #271C19;
}
#name {
	display: inline;
}
form #btn {
	margin: 0 auto;
}
form #in {
	margin: 0 auto;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	background: #271C19;
	color: white;
	width: 100%;
}
#hh2{
	font-family: Georgia,sans-serif;
	font-style: italic;
}

